html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%
}



        body
  
  {
             font-family: Rudaw;
            background: #151A20;
            color: white;
            text-align: center;
        }
        .welcome{
            color: #56f921;
            font-size: 27px;
            font-weight: 
        }
        .top span{
            color: yellow;
        }
        .info{
            border: 2px solid red;
            padding: 20px;
            margin: 10px;
        }
        b{
            color: red;
            font-size: 20px
        }
        video{
            width: 100%;
        }
.input {
	box-shadow: 0px 10px 14px -7px #3e7327;
	background:linear-gradient(to bottom, #77b55a 5%, #72b352 100%);
	background-color:#77b55a;
	border-radius:4px;
	border:1px solid #4b8f29;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:25px;
	font-weight:bold;
	padding:6px 12px;
	text-decoration:none;
	text-shadow:0px 1px 0px #5b8a3c;
}
.Halom:hover {
	background:linear-gradient(to bottom, #72b352 5%, #77b55a 100%);
	background-color:#72b352;
}
.Halom:active {
	position:relative;
	top:1px;
}

